
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="container-fluid">
            <h2 style="text-align: center; margin-top: 50px">Hello!!! Chào mừng bạn đến với SL Cinema</h2>
        </div>
    </div>
</div>




@*@section Scripts {
        <script>
            $(document).ready(function () {
                var message = $('#Message').text();
                var warning = $('#Warning').text();
                var error = $('#Error').text();
                if (message != '') {
                    toastr.success(message);
                }

                if (warning != '') {
                    toastr.warning(warning);
                }

                if (error != '') {
                    toastr.error(error);
                }
            });
        </script>
    }*@
